<div class="row">
    <div class="span6 plan-subtitle">
        <h4>Results</h4>
    </div>
</div>
<div class="row plan-seperator"></div>
<div id="traceResult" tabindex="0" ></div>
<div class="row plan-seperator"></div>
<div class="row">
    <div class="result-selection span9">
        <div class="row plan-seperator"></div>
        <div class="row">
            <div class="span6">
                <h4 class="plan-question">1. Would you like to save this plan?</h4>
            </div>
        </div>
        <div class="row control-group" data-bind="css: { 'error': !resultsVm.savePlanName.isValid() }">
            <div class="span3 plan-offset1">
                <input type="text" data-bind="value: planningVm.title" />
                <div class="errors-container">
                    <span class="field-validation-valid" data-bind="css: { 'field-validation-valid': resultsVm.savePlanName.isValid(), 'field-validation-error': !resultsVm.savePlanName.isValid() }, text: resultsVm.savePlanName.validationMessage"></span>
                </div>
            </div>
            <div class="span2">
                <a class="btn btn-primary" data-bind="click: resultsVm.saveClicked, visible: !resultsVm.isLoading()">Save</a>
                <span class="loading" data-bind="visible: resultsVm.isLoading" style="display: none;"></span>
            </div>
        </div>
        <div class="row plan-seperator"></div>
    </div>
</div>
<div class="row plan-seperator"></div>
<div class="row plan-seperator"></div>

