<div class="row">
    <div class="span6 plan-subtitle">
        <h4>What do you want to calculate?</h4>
    </div>
</div>
<div class="row plan-seperator"></div>
<div class="row">
    <div class="span6 plan-row m-blue" data-bind="click: wallAreaClicked">
        <div class="span2">
            <div class="plan-main-text">Wall Area</div>
        </div>
        <div class="span3 margin-left-0">
            <div class="plan-text">Calculate how much paint you need to paint inside and outside of a building</div>
        </div>
        <div class="span1 margin-left-0">
            <div class="plan-text">
                <i class="m-icon-big-swapright m-icon-white"></i>
            </div>
        </div>
    </div>
    <div class="span6 plan-row m-blue disabled">
        <div class="span2">
            <div class="plan-main-text">Floor Area</div>
        </div>
        <div class="span3 margin-left-0">
            <div class="plan-text">Calculate the total floor area of a section of any shape</div>
        </div>
        <div class="span1 margin-left-0">
            <div class="plan-text">
                <i class="m-icon-big-swapright m-icon-white"></i>
            </div>
        </div>
    </div>
    <div class="span2" style="padding-top: 20px">
        <i>Coming soon</i>        
    </div>
</div>
