<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=ted;AccountKey=x4lAPqtnntWrTkWiGBgEl1wSenWT5LVijBztqkJkjCb9TE9xNTJ+NCv3p3R6Yl3i7E64qiusRP+8umnXYPsBeg==" />
  </connectionStrings>  
</configuration>