<div class="hero-unit">
    <div id="myCarousel" class="carousel slide" style="height: 325px;">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <div class="row plan-seperator"></div>
                <div class="row">
                    <div class="span6 offset1">
                        <h1>Got a paint job?</h1>
                        <p>&nbsp;</p>
                        <p>We can help you calculate how much paint you need.</p>
                        <p>Upload your house plan and follow our simple steps...</p>
                    </div>
                    <div class="span4">
                        <img src="/Images/MeasureTape.png" />
                    </div>
                </div>
                <div class="row plan-seperator"></div>
                <div class="row">
                    <div class="span10 offset1">
                        <p><a class="m-btn big blue" href="/#!/post/step1">Start here &raquo;</a></p>        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row plan-seperator"></div>
                <div class="row">
                    <div class="span6 offset1">
                        <h1>Meter or Inches?</h1>
                        <p>&nbsp;</p>
                        <p>You can choose between Metric or Imperial Measurement System.</p>
                    </div>
                    <div class="span4">
                        <img src="/Images/UnitSystem.png" />
                    </div>
                </div>
                <div class="row plan-seperator"></div>
                <div class="row">
                    <div class="span10 offset1">
                        <p><a class="m-btn big blue" href="/#!/post/step1">Start here &raquo;</a></p>        
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row plan-seperator"></div>
                <div class="row">
                    <div class="span6 offset1">
                        <h1>Easy and accurate</h1>
                        <p>&nbsp;</p>
                        <p>Just use your mouse to trace the house plan.</p>
                        <p>And we will measure the area of your walls in real time.</p>
                    </div>                    
                    <div class="span4">
                        <img src="/Images/Tracer.png"/>
                    </div>                    
                </div>
                <div class="row plan-seperator"></div>
                <div class="row">
                    <div class="span10 offset1">
                        <p><a class="m-btn big blue" href="/#!/post/step1">Start here &raquo;</a></p>        
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<!--***Remove GeoLocation
    <div class="row">
    <div class="span11">
        <div id="body">
            <section class="content-wrapper main-content clearfix">
                    <div id="index-view">
                        <div class="location">
                            <p>
                                <span class="image-located" data-bind="css:{located: located, unlocated: !located()}"></span>
                                <span data-bind="text:location"></span>
                            </p>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>-->


