<div class="article">
    <h1>Got a paint job?</h1>
    <p>&nbsp;</p>
    <p>We can help you calculate how much paint you need.</p>
    <p>Upload your building plan and follow our simple steps...</p>
    <p><img src="/Images/MeasureTape.png" /></p>
    <div id="index-view">
        <div class="location">
            <p>
                <span class="image-located" data-bind="css: { located: located, unlocated: !located() }"></span>
                <span data-bind="text: location"></span>
            </p>
        </div>
    </div>
</div>