<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39152788-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_trackPageview', '/']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
</script>

<h3>
    Hey! The 90's just called. And they want your browser back.
</h3>
<div class="warning">Your version of Internet Explorer is a way too old and unfortunately won't work well with this site.</div>
<p>Have no fear.  You have options and in just a few minutes you can be rocking out in our app:</p>
<ul>
    <li>If you have FireFox, Safari, or Google Chrome already on your computer use one of them for Takeoff instead.</li>
    <li>Upgrade to the <a href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx">latest Internet Explorer.</a></li>
    <li>Download an Internet Explorer alternative.  We recommend <a href="http://www.google.com/chrome">Google Chrome</a>.</li>
</ul>