<h3>ABOUT</h3>
<div class="content-container" >
    <div class="row">
        <div class="span4">
            <img src="../../Images/paintwaste.png" class="float-left"/>        
        </div>
        <div class="span9" style="text-align: right">
            <h2>Quick and Accurate Measurements</h2>
            <h3 style="font-size: 20px;">Online calculator for home renovation <i>without the measuring tape</i>.</h3>            
            <br/>
            <blockquote class="pull-right">
                10 to 15% of building materials is damaged or unused for various reasons during construction. <br/>
                <span class="pull-right">- <a href="http://en.wikipedia.org/wiki/Construction_waste" target="_blank">wikipedia</a></span>
            </blockquote> 
        </div>
    </div>
    <div class="plan-seperator"></div>
    <div class="plan-seperator"></div>
    <div class="plan-seperator"></div>
    <div class="plan-seperator"></div>
    <div class="row">
        <div class="span9" >
            <h2>Next step: Floor Area Calculation</h2>
            <h3 style="font-size: 20px;">We have made it possible to calculate the Wall Area of a house now.</h3>
            <h3 style="font-size: 20px;">We will be building the ability to calculate Floor Area next.</h3>
            <h3 style="font-size: 20px;">So you can paint the floor too. :)</h3>
            <br />
        </div>
        <div class="span4">
            <img src="../../Images/FloorAreaCalculation.png" class="float-left" />
        </div>
    </div>   
    <div class="plan-seperator"></div>
    <div class="plan-seperator"></div>
    <div class="plan-seperator"></div>
    <div class="plan-seperator"></div>
    <div class="row">
        <div class="span4">
            <img src="../../Images/CodeMonkey.png" class="float-right" />
        </div>
        <div class="span9" style="text-align: right">
            <h2>Ideas and Possibilities</h2>
            <h3 style="font-size: 20px;">Leave the code monkey a note at <a href="mailto:&#99;&#107;&#64;&#114;&#101;&#110;&#111;&#112;&#111;&#108;&#111;&#46;&#99;&#111;&#109;">&#99;&#107;&#64;&#114;&#101;&#110;&#111;&#112;&#111;&#108;&#111;&#46;&#99;&#111;&#109;</a></h3>
            <br />
        </div>
    </div>   
</div>
