<div class="article">
    <h3>ABOUT</h3>    
    <p><img src="../../Images/paintwaste.png"/></p>
    <p>
        We think the world is a better place <br />where accurate measurements can be made.
        And accurate measurements means zero wastage.<br />
        No, we don't like wastage. Especially building wastes.<br />
    </p>
    <blockquote class="pull-right">
            10 to 15% of building materials is damaged or unused for various reasons during construction. <br/>
            <span class="pull-right">- <a href="http://en.wikipedia.org/wiki/Construction_waste" target="_blank">wikipedia</a></span>
    </blockquote> 

</div>
